@model MiParcialito.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row mt-5">
        <div class="col-sm-4 offset-sm-4">

         <form asp-controller="Access" asp-action="Index" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" asp-for="UserEmail">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="UserPassword">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>

            <a href="@Url.Action("Index", "Registro")" class="btn btn-secondary mt-3">Registrarse</a>


        </div>
    </div>
</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
